@theme {
  @keyframes animated-gradient {
    0% {
      background-position: calc(
          var(--gradient-step) / sin(var(--gradient-angle))
        )
        0;
    }
  }

  @keyframes amplivault-animation {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(135deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }

  @keyframes amplivault-line-animation {
    0% {
      scale: 0 1;
    }
    50% {
      scale: 0 1;
    }
    75% {
      scale: 1 1;
    }
    100% {
      scale: 0 1;
    }
  }

  @keyframes antinefit-circle-animation {
    0% {
      rotate: 0deg;
      scale: 1;
    }
    45% {
      rotate: 360deg;
      scale: 0.75;
    }
    50% {
      scale: 1;
    }
    95% {
      rotate: 0deg;
      scale: 0.75;
    }
    100% {
      scale: 1;
    }
  }
}
