@layer components {
  #root {
    @apply size-full flex-col gap-2;
  }

  .layer > div,
  .layer > button {
    @apply bg-layer-inner-bg w-full;
  }

  .dark-energy {
    @apply text-dark-energy text-shadow-dark-energy text-shadow-[0_0_.1em,0_0_.1em];
  }

  .nullith {
    @apply text-gradient bg-linear-45 [background-image:var(--nullith-sign-gradient)];
  }

  .break-amplivault {
    @apply text-gradient from-break-amplivault-1 to-break-amplivault-2 bg-linear-to-r;
  }

  .broken-amplivault {
    @apply text-gradient;
    background-image: var(--broken-amplivault-gradient-text);
  }

  .nullifice {
    @apply text-gradient;
    background-image: var(--nullifice-gradient);
  }
  .nullifice-description {
    @apply text-gradient from-nullifice-description-1 to-nullifice-description-2 bg-linear-to-r;
  }

  .sliph {
    @apply text-gradient;
    background-image: var(--sliph-gradient);
  }
  .sliph-description {
    @apply text-gradient from-sliph-description-1 to-sliph-description-2 bg-linear-to-r;
  }

  .cappergy {
    @apply text-gradient;
    background-image: var(--cappergy-gradient);
  }
  .cappergy-effect {
    @apply text-gradient;
    background-image: var(--cappergy-effect-gradient);
  }

  .nuxar {
    @apply text-gradient;
    background-image: var(--nuxar-gradient);
  }
  .nuxar-description {
    @apply text-gradient;
    background-image: var(--nuxar-gradient-description);
  }

  .nexus {
    @apply text-gradient;
    background-image: var(--nexus-gradient);
  }
  .nexus-description {
    @apply text-gradient;
    background-image: var(--nexus-gradient-description);
  }

  .xagyros-states {
    @apply text-gradient;
    background-image: var(--xagyros-states-gradient-text);
  }
  .xagyros-states-description {
    @apply text-gradient;
    background-image: var(--xagyros-states-gradient-description);
  }
}
