name: Upload gh-pages to itch.io

on:
  page_build:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: game

      - name: Zip gh-pages
        run: |
          cd game
          if [ -z "$(ls -A .)" ]; then
            echo "Error: gh-pages folder is empty"
            exit 1
          fi
          zip -r ../game.zip ./*

      - name: Install Butler CLI
        uses: itchio/butler-action@v1

      - name: Upload to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        run: |
          butler push game.zip Troxi/points-progression:html
          
